.row {
    display: flex;
    width: 100%
  }
  
  .row::after {
    display: block;
    clear: both;
    content: "";
  }
  
  .colone {width: 8.33%};
  .coltwo{width: 16.66%;}
  .colthree{width: 25%;}
  .colfour{width: 33.33%;}
  .colfive{width: 41.66%;}
  .colsix{width: 50%;}
  .colseven{width: 58.33%;}
  .coleight{width: 66.66%;}
  .colnine{width: 75%;}
  .colten{width: 83.33%; margin-left: 100px;}
  .coleleven{width: 91.66%;}
  .coltwelve{width: 100%;}
  .logo{
    color: green;
  }
  .logo2{
   color: indigo;
  }
  .button{
    background-color: #08bd80;
    color:white;
    margin: 22px;
    padding: 10px;
    border-radius: 6px;
    font-size: bold;
    width: 80px;
    border: none;
    height: 40px;
  }

 